<ul class="list-group mb-4">
    <li class="list-group-item">
        {{ partial "icons/icon" (dict "vendor" "fas" "name" "clock") }} Last updated: {{ .Lastmod.Format "Mon, Jan 2, 2006" }}
        {{- with .Params.status }}<span class="badge ms-1 float-end {{ if eq . "Published" }}text-bg-success{{ else }}text-bg-warning{{ end }}">{{ partial "icons/icon" (dict "vendor" "fas" "name" "bars-progress") }} Status: {{ . }} </span>{{ end -}}
        {{- with .Params.paper_url }}<span class="badge ms-1 float-end text-bg-secondary"><a href="{{ . }}">&nbsp;{{ partial "icons/icon" (dict "vendor" "fas" "name" "file-pdf") }} Read paper</a></span>{{ end -}}
    </li>
    {{ if or .Params.journal (and (isset .Params "paper_url") (not (eq .Params.paper_url ""))) }}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{- with .Params.journal -}}
                <span class="small">{{ partial "icons/icon" (dict "vendor" "fas" "name" "book") }} <em>{{ . }}</em>{{- with $.Date.Format "January 2006"  -}}, {{ . }}{{- end -}}</span>
            {{- else -}}
                <span></span>
            {{- end -}}
        </li>
    {{ end }}
    {{ with .Params.authors }}
        <li class="list-group-item">{{ partial "icons/icon" (dict "vendor" "fas" "name" "user-pen") }} {{ delimit . ", " ", and " }}</li>
    {{ end }}
</ul>
