//
// Global theme styling
//

body > header {
    background-color: $secondary;
    a { color: $primary !important; }

    margin-bottom: $spacer * 2;
    border-bottom: 3pt solid $primary;

    .site_brand { font-size: 2.2rem; font-weight: 800; text-decoration: none; font-family: $headings-font-family; }
    #header-subtitle { display: none; }
    @include media-breakpoint-up(md) {
        #header-logo {
            font-size: 5rem;
            margin-bottom: -1rem;
            margin-top: -1rem;
            display: block;
        }
        #header-subtitle {
            font-size: 1rem;
            display: block;
        }
    }

    #main_nav {
        padding-bottom: 0;
        .nav-item {
            font-size: $font-size-lg;
            font-family: $headings-font-family;
            font-weight: 600;
        }
    }

}

article {
    text-align: justify;
    text-justify: inter-word;

    h1, h2, h3{
        text-align: center;
    }
    h1 { padding-top: 0; padding-bottom: $spacer * 0.3}
    h2 { padding-top: $spacer * 1.3; padding-bottom: $spacer * 0.3}
    h3 { padding-top: $spacer * 1; padding-bottom: $spacer * 0.3}

    .list-group {
        h6 a { color: $body-color; }
        a {
            text-decoration: none !important;
        }
    }

    .card-text { text-align: left; }
}

footer#site-footer {
    border-top: 3pt solid $primary;
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 4;
}