<div class="card my-1">
    <div class="card-body">
        {{ with .Params.status }}<span class="float-end badge text-bg-warning ms-1 mb-1 text-muted">{{ partial "icon" "progress" }} {{ . }}</span>{{ end }}
        {{ with .Params.paper_url }}<span class="float-end badge text-bg-warning ms-1 mb-1" style="z-index: 2; position: relative;"><a class="text-bg-warning text-muted" href="{{ . }}"><i class="fa-solid fa-file-pdf"></i> Paper</a></span>{{ end }}
        <h5 class="card-title mb-3">{{ .Title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ delimit .Params.authors ", " ", and " | markdownify }}</h6>
        <p class="card-text">{{ .Summary }}</p>
    </div>
    <div class="card-footer"><a class="card-link stretched-link text-muted" href='{{ .RelPermalink }}'><nobr>Read more →</nobr></a><div class="float-end text-muted">Last updated: {{ .Date.Format "Mon, Jan 2, 2006" }}</div></div>
</div>