<!-- Navigation-->
<header>
    <div class="container">
        <nav class="navbar navbar-expand-md pb-0">
            <div class="container">
                <button class="navbar-toggler mr-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="h1 text-center mr-auto mx-md-auto navbar-brand" href="{{ "/" | relLangURL }}">
                    {{- .Site.Title -}}
                    {{- with .Site.Params.icon -}}<span id="header-logo"><i class='fas fa-{{ . }} fa-fw'></i></span>{{- end -}}
                    {{- with .Site.Params.subtitle -}}<span id="header-subtitle">{{ . }}</span>{{- end -}}
                </a>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md" id="main_nav">
            <div class="container text-center">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main.ByWeight }}
                        <li class="nav-item text-center">
                            <a class="nav-link px-md-3 py-0 py-md-1 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

