<ul class="list-group mb-4">
    <li class="list-group-item">
        {{ partial "icon" "clock" }} {{ .Date.Format "Mon, Jan 2, 2006" }}
        {{- with .Params.status }}<span class="float-end">{{ partial "icon" "progress" }} {{ . }}</span>{{ end -}}
    </li>
    {{ with .Params.authors }}
    <li class="list-group-item">{{ partial "icon" "user" }} {{ delimit . ", " ", and " }}</li>
    {{ end }}
    {{ with .Params.paper_url }}
        <li class="list-group-item"><a href="{{ . }}">{{ partial "icon" "pdf" }} Download paper</a></li>
    {{ end }}
</ul>