{{ define "main" }}
    <main>
        <article>
            {{ .Content }}
            {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
            {{ $published := where $pages ".Params.status" "Published" }}
            {{ $sorted := sort $published ".Date" "desc" }}
            {{ with first 5 $sorted }}
            <h1>Latest publications</h1>
            <div class="list-group">
            {{ range . }}
              <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <h5 class="mb-0">{{ .Title }}</h5>
                <p class="mb-0 small">{{ delimit .Params.authors ", " ", and " | markdownify }}</p>
                <small>
                  {{- with .Params.journal }}{{ . }}{{ end -}}
                  {{- with .Params.Date -}}
                    {{- $date := . -}}
                    {{- $dateStr := printf "%v" $date -}}
                    {{- if eq (len $dateStr) 4 -}}
                      , {{ $dateStr }}
                    {{- else -}}
                      , {{ time.Format "January 2006" (time $date) }}
                    {{- end -}}
                  {{- end -}}
                </small>
              </a>
            {{ end }}
            </div>
            <div class="d-flex justify-content-end mt-2">
              <a class="btn btn-outline-primary btn-sm" href="{{ "/research/?status=published" | relURL }}">All publications {{ partial "icons/icon" (dict "vendor" "fas" "name" "right-long") }}</a>
            </div>
            {{ end }}
            {{- partial "footer.html" . -}}
        </article>
    </main>
{{ end }}
